<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">

    <targets>
        <target name="LogFile" xsi:type="File" fileName="Hybrid7z.log" encoding="utf-8" archiveAboveSize="16777216" archiveNumbering="Rolling" />
		<target name="LogConsole" xsi:type="ColoredConsole"
                encoding="utf-8"
                layout="${longdate} | ${level:uppercase=true} | ${logger} | ${callsite} | ${message}"
                useDefaultRowHighlightingRules="True"
                enableAnsiOutput="False"
                detectOutputRedirected="True">
			<highlight-word condition="level == LogLevel.Info and starts-with(message, 'DONE:')" Foreground="Blue"/>
			<highlight-row condition="level == LogLevel.Debug" foregroundColor="DarkGray" />
			<highlight-row condition="level == LogLevel.Info" foregroundColor="Gray" />
			<highlight-row condition="level == LogLevel.Warn" foregroundColor="DarkYellow" />
			<highlight-row condition="level == LogLevel.Error" foregroundColor="Red" />
			<highlight-row condition="level == LogLevel.Fatal" foregroundColor="DarkRed" backgroundColor="White" />
		</target>
    </targets>

    <rules>
        <logger name="*" minlevel="Info" writeTo="LogConsole" />
        <logger name="*" minlevel="Debug" writeTo="LogFile" />
    </rules>
</nlog>